name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,synchronize]

jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: sign
        with:
          text: ${{ github.event.comment.body }}
          regex: '\s*I have read the CLA Document and I hereby sign the CLA\s*'
      
      - uses: actions-ecosystem/action-regex-match@v2
        id: recheck
        with:
          text: ${{ github.event.comment.body }}
          regex: '\s*recheckcla\s*'

      - name: "CLA Assistant"
        if: ${{ steps.recheck.outputs.match != '' || steps.sign.outputs.match != '' }} || github.event_name == 'pull_request_target'
        # Alpha Release
        uses: cla-assistant/github-action@v2.1.1-beta
        env:
          # Generated and maintained by github
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN : ${{ secrets.CLA_SIGN_TOKEN }}
        with:
          path-to-signatures: 'signed_clas.json'
          path-to-document: 'https://jfrog.com/cla/'
          branch: 'master'
          allowlist: bot*
          custom-pr-sign-comment: 'I accept the terms'
