name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,synchronize]

jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: sign-or-check
        with:
          text: ${{ github.event.comment.body }}
          regex: '\s*(I have read the CLA Document and I hereby sign the CLA)|(recheckcla)\s*'
      - name: "Echo"
        run: echo ${{ github.event_name }}
      
      - name: "CLA Assistant"
        if: ${{ steps.sign-or-check.outputs.match != '' || github.event.issue.pull_request }}
        # Alpha Release
        uses: cla-assistant/github-action@v2.1.1-beta
        env:
          # Generated and maintained by github
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN : ${{ secrets.CLA_SIGN_TOKEN }}
        with:
          path-to-signatures: 'signed_clas.json'
          path-to-document: 'https://jfrog.com/cla/'
          branch: 'master'
          allowlist: bot*
          custom-pr-sign-comment: 'I accept the terms'
